/* universal */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  display: inline-block;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --color-nav-background: #94a684;
  --color-main-background: #ffeef4;
  --color-content-background: #aec3ae;
  --color-alternate-bg: #e4e4d0;
  --color-content-hover: #d77d49;
  --color-accent: #664d51;
  --navbar-padding: 70px;
  --title-padding: 5rem;
}

body {
  background-color: var(--color-main-background);
}

a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.green-btn {
  background-color: var(--color-nav-background);
  font-weight: bold;
  color: var(--color-main-background);

  &:hover {
    border: 1px solid var(--color-nav-background);
    background-color: var(--color-main-background);
    color: var(--color-nav-background);
  }
}

.card {
  margin: auto;
  background-color: var(--color-main-background);

  &:hover{
    transition: all .35s ease-in-out;
    transform: scale(1.1);
  }
}

.card-body {
  display: flex;
  flex-direction: column;
}

span {
  font-weight: bold;
}
/* /universal/ */

/* navbar */
.navbar {
  background-color: var(--color-nav-background);
}

.offcanvas-header {
  background-color: var(--color-main-background);
}

.offcanvas-body {
  background-color: var(--color-nav-background);
}
/* /navbar/ */

/* Main Content */
main {
  display: flex;
  flex-flow: column;
}

.full-body {
  /* delete width later on */
  width: 100vw;
  min-height: 80vh;
  height: 100%;
  border-bottom: 2px solid white;
}

/* hero */
.hero {
  padding-top: var(--navbar-padding);
  background-color: var(--color-nav-background);
}

.hero-text-box > h1 {
  width: 80%;
}

.hero-text-box > p {
  margin: 2rem auto;
}

.hero-text-box {
  padding: 2rem;
}

.hero-img-box {
  width: 70%;
  padding: 2rem;
}

img[alt="hero-img"] {
  width: 100%;
}

.hero-btn {
  background-color: var(--color-main-background);
  color: var(--color-nav-background);
  font-weight: bold;

  &:hover {
    border: 1px solid var(--color-main-background);
    color: var(--color-main-background);
  }
}
/* hero */

/* suggestions section */
.suggested-collections {
  padding: var(--title-padding);
}

.suggested-collections h2 {
  padding-bottom: var(--title-padding);
}

/* popular items section */
.popular-items-section {
  background-color: var(--color-content-background);
  padding-bottom: var(--title-padding);
}

.popular-items-section h2 {
  padding: var(--title-padding);
}

/* /Main Content/ */
